[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/lxly-bridge-and-call"]
	path = lib/lxly-bridge-and-call
	url = https://github.com/agglayer/lxly-bridge-and-call
